<a href="https://colab.research.google.com/github/maiconfriedel/python-pandas/blob/main/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Frame de Collection do Python

In [ ]:
import pandas as pd

#dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021','16/02/2021'],
         'valor' : [500,300],
         'produto' : ['feijao', 'arroz'],
         'qtde' : [50,70]                       
         }

vendas_df = pd.DataFrame(venda)

display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

# Data Frame a partir de CSV

In [84]:
import pandas as pd

vendas_df = pd.read_csv("./sample_data/california_housing_test.csv")

display(vendas_df[0:5])  # primeiro até quinto registro
#display(vendas_df.head(5)) # 5 primeiras linhas
#print(vendas_df.shape) # qtde linhas e colunas
#display(vendas_df.describe()) # soma, média etc... 
#display(vendas_df.loc[vendas_df['population'] >= 1000, ['total_rooms', 'total_bedrooms', 'population', 'households']]) # filtro e select colunas

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
vendas_df['comission'] = vendas_df['population'] * 0.05 # criar uma nova coluna no DF

#vendas_df.loc['Imposto'] = 0 muito custoso para valor fixo, não utilizar
#vendas_df.loc[0, 'taxes'] = 5.75 # preencher todas linhas na coluna imposto com 0, menos custosa dessa forma

#vendas_df = vendas_df.append(vendas_dez_def) # adicionar linhas ao DF

#display(vendas_df)

In [ ]:
# vendas_df = vendas_df.drop('Comissão', axis=1) # remover coluna
# vendas_df = vendas_df.drop(0, axis=0) # remover linha

In [ ]:
# deletar linhas e colunas completamente vazias
#vendas_df = vendas_df.dropna(how='all', axis=1)
#display(vendas_df)

# deletar linhas que possuem pelo menos um valor vazio
#vendas_df = vendas_df.dropna()
#display(vendas_df)

# preencher valores vazios
# vendas_df['taxes'] = vendas_df['taxes'].fillna(5.75)
# display(vendas_df)

# preencher com valor anterior em todas colunas
# vendas_df = vendas_df.ffill()
# display(vendas_df)

In [85]:
 value_counts = vendas_df['housing_median_age'].value_counts()
 display(value_counts)

#groupby = vendas_df[['housing_median_age','total_rooms','total_bedrooms','comission']].groupby('housing_median_age').mean()
#print(groupby)

52.0    173
35.0    118
36.0    115
16.0    107
34.0    102
17.0    100
32.0     91
26.0     88
37.0     88
25.0     86
33.0     85
15.0     77
18.0     76
19.0     76
30.0     76
24.0     75
29.0     75
27.0     74
38.0     64
20.0     63
21.0     61
22.0     60
28.0     58
14.0     57
31.0     57
41.0     56
43.0     56
39.0     55
23.0     53
42.0     51
44.0     51
45.0     51
40.0     43
11.0     41
12.0     41
46.0     41
13.0     41
5.0      39
48.0     34
10.0     30
4.0      28
9.0      27
6.0      25
8.0      25
47.0     22
49.0     21
7.0      20
50.0     16
3.0      12
51.0     11
2.0       6
1.0       2
Name: housing_median_age, dtype: int64

# Data Frame a partir de JSON

In [89]:
json_df = pd.read_json("https://api.github.com/users/maiconfriedel/repos")

display(json_df[['id', 'full_name', 'description', 'url', 'created_at']])

           id  ...                created_at
0   245219155  ... 2020-03-05 16:54:21+00:00
1   241665192  ... 2020-02-19 16:26:10+00:00
2   180617915  ... 2019-04-10 16:08:35+00:00
3   286580615  ... 2020-08-10 21:17:01+00:00
4   175877990  ... 2019-03-15 19:15:04+00:00
5   286333220  ... 2020-08-09 23:23:13+00:00
6   183647131  ... 2019-04-26 14:54:37+00:00
7   208677340  ... 2019-09-16 00:29:06+00:00
8   329706513  ... 2021-01-14 18:52:18+00:00
9   241982815  ... 2020-02-20 20:27:32+00:00
10  250122426  ... 2020-03-26 00:24:47+00:00
11  269366760  ... 2020-06-04 13:26:51+00:00
12  330749795  ... 2021-01-18 18:12:07+00:00
13  283582840  ... 2020-07-29 19:16:47+00:00
14  225096565  ... 2019-12-01 02:31:43+00:00
15  181092409  ... 2019-04-12 22:37:59+00:00
16  235391195  ... 2020-01-21 16:43:14+00:00
17  235585939  ... 2020-01-22 14:03:16+00:00
18  283546273  ... 2020-07-29 16:17:04+00:00
19  286091904  ... 2020-08-08 17:49:19+00:00
20  287112059  ... 2020-08-12 20:45:08+00:00
21  283805718  ... 2020-07-30 15:03:41+00:00
22  187837282  ... 2019-05-21 12:55:45+00:00
23  233880531  ... 2020-01-14 16:06:03+00:00
24  234120981  ... 2020-01-15 16:15:47+00:00
25  234312788  ... 2020-01-16 12:14:14+00:00
26  249752774  ... 2020-03-24 15:59:32+00:00
27  250044229  ... 2020-03-25 17:21:39+00:00
28  250324794  ... 2020-03-26 17:23:32+00:00
29  212141372  ... 2019-10-01 16:11:09+00:00

[30 rows x 5 columns]