<a href="https://colab.research.google.com/github/maiconfriedel/python-pandas/blob/main/learning_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

#dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021','16/02/2021'],
         'valor' : [500,300],
         'produto' : ['feijao', 'arroz'],
         'qtde' : [50,70]                       
         }

vendas_df = pd.DataFrame(venda)

display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [17]:
import pandas as pd

vendas_df = pd.read_excel("Vendas.xlsx")

#display(vendas_df.head(5)) # 5 primeiras linhas
#print(vendas_df.shape) # qtde linhas e colunas
display(vendas_df.describe()) # soma, média etc...

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000